<% include ../partials/head %>
<% include ../partials/header %>
<main class="main__featured">
	<section class="albumsDetails__imageSection">
		<% include ../partials/top-nav %>
		<h1>Old Town Road</h1>
		<h3>12 Songs</h3>
		<p>Genres hastags</p>
		<button>#country</button><button>#country road</button>
	</section>
	<section>
		<h3>All Songs</h3>
		<div>
			<i class="fas fa-play-circle"></i>
			<div>
				<div>
					<h3 class="featuredAlbums__albumsListAlbumName">Old Town Road</h3>
					<p class="featuredAlbums__albumsListAlbumArtist">Billy Ray Cyrus</p>
				</div>
				<p>3 : 58</p>
			</div>
		</div>
	</section>

</main>
<% include ../partials/footer %>
<% include ../partials/after-footer %>