
<% include ../partials/head %>
<% include ../partials/header %>
<main class="main__categories">
	<% include ../partials/top-nav %>
	<h1 class="featured__headText">Categories</h1>
	<div class="dropdown buttonbar">
		<button class="dropbtn categories__button" onclick="myFunction()">
			Alternative
			<i class="fas fa-ellipsis-h"></i>
		</button>
		<div class="dropdown-content" id="myDropdown">
		  <a href="#">Acoustic Blues<i class="fas fa-chevron-right"></i></a>
		  <a href="#">Blues Rock<i class="fas fa-chevron-right"></i></a>
		  <a href="#">Canadian Blues<i class="fas fa-chevron-right"></i></a>
		</div>
	</div>
	<div class="dropdown">
		<button class="dropbtn categories__button" onclick="myFunction()">
			Alternative
			<i class="fas fa-ellipsis-h"></i>
		</button>
		<div class="dropdown-content" id="myDropdown">
		  <a href="#">Acoustic Blues<i class="fas fa-chevron-right"></i></a>
		  <a href="#">Blues Rock<i class="fas fa-chevron-right"></i></a>
		  <a href="#">Canadian Blues<i class="fas fa-chevron-right"></i></a>
		</div>
	</div> 
	<div class="dropdown">
		<button class="dropbtn categories__button" onclick="myFunction()">
			Alternative
			<i class="fas fa-ellipsis-h"></i>
		</button>
		<div class="dropdown-content" id="myDropdown">
		  <a href="#">Acoustic Blues<i class="fas fa-chevron-right"></i></a>
		  <a href="#">Blues Rock<i class="fas fa-chevron-right"></i></a>
		  <a href="#">Canadian Blues<i class="fas fa-chevron-right"></i></a>
		</div>
	</div> 
	<div class="dropdown">
		<button class="dropbtn categories__button" onclick="myFunction()">
			Alternative
			<i class="fas fa-ellipsis-h"></i>
		</button>
		<div class="dropdown-content" id="myDropdown">
		  <a href="#">Acoustic Blues<i class="fas fa-chevron-right"></i></a>
		  <a href="#">Blues Rock<i class="fas fa-chevron-right"></i></a>
		  <a href="#">Canadian Blues<i class="fas fa-chevron-right"></i></a>
		</div>
	</div> 
	<div class="dropdown">
		<button class="dropbtn categories__button" onclick="myFunction()">
			Alternative
			<i class="fas fa-ellipsis-h"></i>
		</button>
		<div class="dropdown-content" id="myDropdown">
		  <a href="#">Acoustic Blues<i class="fas fa-chevron-right"></i></a>
		  <a href="#">Blues Rock<i class="fas fa-chevron-right"></i></a>
		  <a href="#">Canadian Blues<i class="fas fa-chevron-right"></i></a>
		</div>
	</div> 
	<div class="dropdown">
		<button class="dropbtn categories__button" onclick="myFunction()">
			Alternative
			<i class="fas fa-ellipsis-h"></i>
		</button>
		<div class="dropdown-content" id="myDropdown">
		  <a href="#">Acoustic Blues<i class="fas fa-chevron-right"></i></a>
		  <a href="#">Blues Rock<i class="fas fa-chevron-right"></i></a>
		  <a href="#">Canadian Blues<i class="fas fa-chevron-right"></i></a>
		</div>
	</div> 
	<div class="dropdown">
		<button class="dropbtn categories__button" onclick="myFunction()">
			Alternative
			<i class="fas fa-ellipsis-h"></i>
		</button>
		<div class="dropdown-content" id="myDropdown">
		  <a href="#">Acoustic Blues<i class="fas fa-chevron-right"></i></a>
		  <a href="#">Blues Rock<i class="fas fa-chevron-right"></i></a>
		  <a href="#">Canadian Blues<i class="fas fa-chevron-right"></i></a>
		</div>
	</div> 
	<div class="dropdown">
		<button class="dropbtn categories__button" onclick="myFunction()">
			Alternative
			<i class="fas fa-ellipsis-h"></i>
		</button>
		<div class="dropdown-content" id="myDropdown">
		  <a href="#">Acoustic Blues<i class="fas fa-chevron-right"></i></a>
		  <a href="#">Blues Rock<i class="fas fa-chevron-right"></i></a>
		  <a href="#">Canadian Blues<i class="fas fa-chevron-right"></i></a>
		</div>
	</div> 
	<div class="dropdown">
		<button class="dropbtn categories__button" onclick="myFunction()">
			Alternative
			<i class="fas fa-ellipsis-h"></i>
		</button>
		<div class="dropdown-content" id="myDropdown">
		  <a href="#">Acoustic Blues<i class="fas fa-chevron-right"></i></a>
		  <a href="#">Blues Rock<i class="fas fa-chevron-right"></i></a>
		  <a href="#">Canadian Blues<i class="fas fa-chevron-right"></i></a>
		</div>
	</div> 
	


</main>
<script src="/assets/js/dropDown.js"></script>
<% include ../partials/footer %>
<% include ../partials/after-footer %>