
<% include ../partials/head %>
<% include ../partials/header %>
<main class="main__featured">
	<% include ../partials/top-nav %>
	<h1>Featured</h1>
	<div id="cardList">

	</div>

</main>

<template id="featured__template">
	<img class="featured__images" src="" alt="image featured">
	<h3 class="featured__headerText"></h3>
	<p class="featured__text"></p>
</template>

<% include ../partials/footer %>
<% include ../partials/after-footer %>
