
<% include ../partials/head %>
<% include ../partials/header %>
<main class="main__featured">
	<% include ../partials/top-nav %>
	<h1>Featured</h1>
	<div id="cardList">
		<div id="featured__template">
			<div class="featured__textInfo">
				<h3 class="featured__headerText">The Greatest Showman</h3>
				<p class="featured__text">Soundtrack</p>
			</div>
			<div class="featured__imageShadow">
				<img class="featured__images" src="/assets/images/woman-light.jpg" alt="image featured">
			</div>
		</div>
		<div id="featured__template">
			<div class="featured__textInfo">
				<h3 class="featured__headerText">The Greatest Showman</h3>
				<p class="featured__text">Soundtrack</p>
			</div>
			<div class="featured__imageShadow">
				<img class="featured__images" src="/assets/images/woman-light.jpg" alt="image featured">
			</div>
		</div>
	</div>

</main>

<% include ../partials/footer %>
<% include ../partials/after-footer %>
