<% include ../partials/head %>
<% include ../partials/header %>
<main>
	<% include ../partials/top-nav %>
	<h1>Featured</h1>
	<div id="classList">

	</div>

</main>
<% include ../partials/footer %>
<% include ../partials/after-footer %>

<template class="featured__template">
	<img class="featured__images" src="" alt="image featured">
	<h3 class="featured__headerText"></h3>
	<p class="featured__text"></p>
</template>