
<% include ../partials/head %>
<% include ../partials/header %>
<main class="player__mainBackground">
	<section class="">
		<% include ../partials/top-navAlbum %>
		

	</section>
</main>
<% include ../partials/after-footer %>