
<% include ../partials/head %>
<% include ../partials/header %>
<main class="player__mainBackground">
	<% include ../partials/top-navAlbum %>
	<section class="">
		<img class="player__headerImage" src="/assets/images/neon-walls.jpg" alt="Neon walls">

	</section>
</main>
<% include ../partials/footer %>
<% include ../partials/after-footer %>