
<% include ../partials/head %>
<% include ../partials/header %>
<main class="player__mainBackground">
	<section class="">
		<% include ../partials/top-navAlbum %>
		<p class="player__artistProfilePhotoBorder">
			<img class="player__artistProfilePhoto" src="/assets/images/woman-water.jpg" alt="Artist profile">
		</p>
		<h4>Don't Call Me Up</h4>
		<p>Mabel</p>
	</section>
	<section>
		<div class="player__playerLine">
			<div class="player__playerCircleBorder">
				<p class="player__playerCircle"></p>
			</div>
		</div>
		<div class="player__SongTime">
			<p>0:00</p>
			<p>3:40</p>
		</div>
		<div class="player__playerIcons">
			<i class="fas fa-angle-left"></i>
			<i class="fas fa-angle-double-left"></i>
			<i class="fas fa-play"></i>
			<i class="fas fa-angle-double-right"></i>
			<i class="fas fa-angle-right"></i>
			</div>
	</section>
</main>
<% include ../partials/after-footer %>